body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.main-description {
  padding: 40px 15px;
  text-align: center;
}

.pgpool {
  padding: 40px 15px;
  text-align: center;
}